.loginContainer{
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: #0a0721a4;
    font-family: 'montserrat light';
}

.loginContainer form{
    background: #f1f1f1;
    width: 90%;
    max-width: 450px;
    padding: 3em 0px;
    z-index: 2;
}


.inputWrapper{
    width: 80%;
    height: 2.2em;
    margin: auto;
    position: relative;
}
.inputAnimator{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: transparent;
    border-bottom: 1.3px solid #707070;
    pointer-events: none;
    overflow: hidden;
}
.inputAnimator::after{
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background: #1D93FB;
    position: absolute;
    transform: translateX(-100%);
    transition: all .2s ease-out;
    z-index: 3000;
}
.animate .inputAnimator{
    border: none;
    padding-bottom: 2px;
}
.animate .inputAnimator::after{
    transform: translateX(0);
}
.warnBorder .inputAnimator::after{
    background: red;
}






.loginContainer input{
    outline: none;
    border: none;
    padding: .5em .5em .2em;
    font-size: 1rem;
    margin: .5em auto;
    width: 95%;
    display: block;
    color: #555;
    background: #f1f1f1; 
}

input::placeholder{
    font-family: 'montserrat light';
    color: #0A0721;
    font-size: .8em;
}

.loginContainer .login{
    height: 2.7em;
    border-bottom: none;
    border-radius: 40px;
    -webkit-appearance: none;
    box-shadow: -.6em -.6em .4em #ffffff9d, .5em .4em .4em #0a072132;
    margin: 2em auto;
    font-size: 1.1rem;
    transition: all .3s ease-in;
    width: 80%;
    border: none;
}
.loginContainer .login:hover{
    background: #e9e9e9;
    color: #251c79;
}

.loginContainer .title{
    background: none;
    font-size: 1.3em;
    font-family: 'montserrat';
    width: 80%;
    margin: auto;
}
.oath{
    width: 80%;
    margin: 1em auto;
    display: flex;
    justify-content: center;
}
.oath div{
    padding: .8em;
    cursor: default;
}

.forgotpsd{
    text-align: center;
    font-style: italic;
    font-size: .9rem;
}

.forgotpsd a{
    color: #1D93FB;
    background: none;
    text-decoration: none;
}
.create{
    font-size: .7rem;
    font-style: italic;
    margin: 6px 0px;
}
.create a{
    text-decoration: underline;
}

.login-shadow{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
}

.showPassword, .wrongPassword{
    width: 30px;
    height: 30px;
    background: white;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-size: 1.1em;
}
.showPassword *{
    pointer-events: none;
}
.wrongPassword{
    transform: translateX(-35px);
    pointer-events: none;
    color: red;
    visibility: hidden;
}

.inputText{
    visibility: hidden;
    transform: translateX(0);
}
.nameWarn{
    font-size: .7rem;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 50%);
    width: auto;
    white-space: nowrap;
}



/* custom styling for login buttons  */
.fb-btn, .btn-google, .git-btn{
    background: #395693;
    width: 6em;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: .25em .25em .8em #0a072144;
    margin: 0px 10px;
}
.fb-btn img{
    height: 60%;
}
.btn-google, .git-btn{
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    position: relative;
}
.btn-google svg{
    font-size: 1.6rem;
    color: #395693;
}
/* end of style of buttons for google facebook and github */




  /* =========================Tooltip funtionality================ */
  .showPassword .tooltiptext {
    visibility: hidden;
    background-color: #616070;
    font-size: .7rem;
    font-style: italic;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 1.3em;
    position: absolute;
    z-index: 1;
    top: 100%;
    z-index: 3;
  }
  
  .showPassword .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #616070 transparent;
  }
  .showPassword:hover .tooltiptext {
    visibility: visible;
  }
/* ===============end of Tooltip functionality===== */



/* --------------------specification for signup====================== */
.signup form{
    max-width: 400px;
}
.signup .forgotpsd{
    font-size: .85rem;
}



